@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold mb-3">Welcome to KYC system</h1>
   <img src="~/asset/undraw_software_engineer_lvl5.svg" alt="Image" height="400"/>
</div>
